

			</div>
			<footer>
				<p>Created by <a href="mailto:abdalahmasrie@gmail.com">Abdalah Masrie</a>.</p>
			</footer>
		</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Core CSS with all styles -->
        <script src="/javascripts/functions.js"></script>
		<script type="text/javascript" src="assets/js/enquire.min.js"></script>
		<script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>
		<script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
		<script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>     		
		<script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script>
		<script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
		<script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
		<script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script> 		
		<script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
		<script type="text/javascript" src="assets/js/application.js"></script>
		<script type="text/javascript" src="assets/demo/demo.js"></script>
		<script type="text/javascript" src="assets/demo/demo-switcher.js"></script>
		<script type="text/javascript" src="assets/plugins/switchery/switchery.js"></script>
		
	</body>
</html>