<% include header.ejs %>

<br />
<div class="panel-body">

	<div class="alert alert-info">
		<i class="ti ti-info-alt"></i>&nbsp; Look at the polls created by our members. Choose any one in which you want to participate and vote for your favourite option.
	</div>


	<div class="row">

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>What's your main language?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 20 people has voted on this poll.</p>
					<p>So far, the most voted option is Spanish (100%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>Trump or Clinton?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 5000 people has voted on this poll.</p>
					<p>So far, the most voted option is Trump (60%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>What's your favourite color?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 50 people has voted on this poll.</p>
					<p>So far, the most voted option is Blue (34%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>What's your main language?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 20 people has voted on this poll.</p>
					<p>So far, the most voted option is Spanish (100%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>Trump or Clinton?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 5000 people has voted on this poll.</p>
					<p>So far, the most voted option is Trump (60%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

		<div class="col-md-4">

			<div class="panel panel-info" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>What's your favourite color?</h2>
					<div class="panel-ctrls">
						<a href="#" class="button-icon"><i class="ti ti-share"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-check-box"></i></a>
						<a href="#" class="button-icon"><i class="ti ti-trash"></i></a>
					</div>

				</div>
				<div class="panel-body" style="height: 148px">
					<p>This poll was created on 2017-07-14.</p>
					<p>A total of 50 people has voted on this poll.</p>
					<p>So far, the most voted option is Blue (34%)</p>
				</div>
				<div class="panel-footer">
					<span class="text-gray"><em>A poll made by Abdalah Masrie</em></span>
				</div>
			</div>
		</div>

	</div>


</div>





<% include footer.ejs %>